.university-dashboard {
    padding: 12rem 15rem;
    padding-bottom: 0;

    &__welcome {
        font-size: 2rem;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 2;

        background-image: linear-gradient(to right bottom, $color-secondary-light, $color-secondary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    }

    &__header {
        font-size: 3.5rem;
        font-weight: 600;
        line-height: 1;

        background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;

        & > span {
            font-size: 4rem;
        }
    }
}

.department-syllabus {
    padding: 1.5rem 0;

    &__group {
        &:not(:last-child) {
            padding-bottom: 2rem;
        }
    }

    &__label {
        font-size: 1.5rem;
        padding-bottom: 1rem;
        font-weight: 500;
    }

    &__submit {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__btn {
        font-size: 1.5rem;
        padding: 1rem 3rem;
        margin-top: 2rem;
        background: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    }
}
