section {
  max-width: 120rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
}

.industry-basic {
  &__btn {
    padding: 1rem 4rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    color: $color-white;
    margin-top: 4rem;

    &:hover {
      color: $color-white;
    }

    &:hover > i {
      transform: translateX(5px);
    }

    & > i {
      transition: all 0.2s ease;
      padding-left: 1.5rem;
    }
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: 500;
  }

  &__form-group {
    position: relative;
    padding-bottom: 2rem;
  }
}

.industry-detail {
  &__btn {
    padding: 1rem 4rem;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
    color: $color-white;
    margin-top: 2rem;

    &:hover {
      color: $color-white;
    }

    &:hover > i {
      transform: translateX(5px);
    }

    & > i {
      transition: all 0.2s ease;
      padding-left: 1.5rem;
    }
  }

  &__label {
    display: block;
    font-size: 1.6rem;
    padding-bottom: 1rem;
    font-weight: 500;
  }

  &__form-group {
    position: relative;
    padding-bottom: 1.5rem;
  }
}

.heading {
  margin-bottom: 2.5rem;
  text-align: center;
  font-size: 4rem;
  color: var(--white);
  text-transform: uppercase;
  font-family: "Poppins";
  font-weight: 500;
}

.heading span {
  display: block;
  margin-right: 50%;
  color: $color-secondary-light;
  text-transform: uppercase;
  margin-right: 0%;
}

.heading .welcome_text {
  color: $color-primary;
  padding: 1.6rem 0;
}

.heading .welcome_text span {
  display: inline-block;
}

.industry_form .row {
  width: 45%;
  margin-top: -5rem;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.industry_form .image {
  flex: 2 2 40rem;
}

.industry_form .image img {
  width: 50rem;
  height: auto;
  margin-top: -2rem;
}

.industry_form .row form {
  flex: 1 1 40rem;
}

.formT {
  color: #37474f;
  width: 50%;
  font-size: 1.5rem;
  margin: 2rem 0;

  padding-bottom: 2px;
  border-bottom: 1px solid #37474f;
}
.formT h1 {
  display: inline-block;
  padding-bottom: 2px;
  font-size: 2rem;
}

.formT span {
  color: #455a64;
}
